/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**************************************************
*UNCOMMON
**************************************************
*/
.container {
   width: 80%;
   margin: 0 auto;
}


.box-magenta {
    justify-content: center;
    align-items: center;
    width: 70%;
    
}

.box-azzurro {
    width: 60%;
    
    
}

.box-rosa {
    width: 40%;
}

.title-item1 {
    margin-bottom: 20px;
}


.box-verde {
    width: 1300px;
    height: 650px;
    
    
}

section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    gap: 30px;
}

h2 {
    color: black;
    font-size: 40px;
}


/*
**************************************************
*HERO
**************************************************
*/

.hero {
    background-image: url(../img/jumbo.png);
    background-size: contain;

}


.title-box-magenta {
    justify-content: center;
    color: white;
    padding-bottom: 20px;
}

.content-box-magenta {
    color: white;
    margin-bottom: 20px;
}

.background-button {
    padding: 10px;
    margin: 30px;
    border-radius: 100px;
}

.content {
    line-height: 2;
}











a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}


.box-salmon {
    width: 30%;
}

.box-cyan {
    
    width: calc(100% / 4);
}

.boxes {
    width: 70%;
}

.container-box-ciane {
    width: 40%;
    height: 80%;
}

.content-header {
    justify-content: space-around;
    align-items: center;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-blue {
    color: rgb(46, 92, 243);
}




.content-box-rosa {
    justify-content: center;
    align-items: center;

}

.ask {
    font-size: 30px;
    margin-bottom: 20px;
}

.logo2 {

}






/*
**************************************************
*HEADER
**************************************************
*/


header {
    padding-top: 20px;
}


/*
**************************************************
*MAIN
**************************************************
*/

.main {
    
}



/*
**************************************************
*FOOTER
**************************************************
*/

footer {
    border-top: 2px white solid;
    border-bottom: 2px white solid;

    

}

/* .fake-link {

    padding: 0 120px;
    max-height: 20px;
    justify-content: space-between;
} */

.logo2-button {
    justify-content: space-around;
    align-items: center;
}
.bottone {
    margin-top: 20px;
}

.logo2 {
    margin-top: 20px;
}







/*
**************************************************
*UTILITIES
**************************************************
*/



/* FLEX */

.flex-column {
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;
} 


.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.fa-brands {
    margin-right: 20px;
    margin-top: 20px;
}






.padding-top-30 {
    padding-top: 30px;
}

/* ALTEZZE  */

.height-400px {
    height: 400px;
}

.height-60px {
    height: 60px;
}

.height-900px {
    height: 900px;
}

.height-600px {
    height: 600px;
}

.height-80px {
    height: 80px;
}


/* COLORI SFONDO */

.bg-blue {
    background-color: rgba(56, 132, 255, 0.966);
}

.bg-pink {
    background-color: pink;
}

.bg-dark-blue {
    background-color: darkblue;
}

.bg-flower-blue {
    background-color: cornflowerblue;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: green;
}

.bg-dark-cyan {
    background-color: darkcyan;
}

.bg-orange {
    background-color: orange;
}

.bg-magenta {
    background-color: magenta;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}

.bg-dark-salmon {
    background-color: darksalmon;
}

.bg-cyan {
    background-color: cyan;
}

/* BORDO TRATTEGGIATO */

.dashed-border {
    border: 2px;
    border-color: black;
    border-style: dashed;
}




/*
**************************************************
*DEBUG
**************************************************
*/
/* 


body {
    background-color: aqua;
} */